[user]
  name = Andy Robb
  email = andy@andyrobb.com
[core]
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[credential]
  helper = osxkeychain
[push]
  default = simple
